@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* ================== GLOBAL ==================== */
/* ================== GLOBAL ==================== */

html,
body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 32px;
}

/* ================== HEADER ==================== */
/* ================== HEADER ==================== */
.header {
  height: 800px;
  padding-top: 31px;

  background-color: #000;
  background-image: url("../img/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 0 0 54px 54px;
  color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
}

.nav__list {
  display: flex;
}

.nav__list-item {
  margin-right: 54px;
}

.nav__list-item:last-child {
  margin-right: 0;
}

.nav__list-link {
  font-weight: 300;
  opacity: 0.7;
}

.nav__list-link--active {
  opacity: 1;
}

.header__user {
  display: flex;
  align-items: center;
}

.header___user-content {
  font-weight: 400;
  margin-right: 8px;
  text-align: right;
}

.header__user-greeting {
  opacity: 0.5;
}

.header___user-content span {
  opacity: 1;
}

.header___user-avatar {
  position: relative;
}

.header___user-avatar::after {
  content: "";

  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff0000;

  position: absolute;
  top: 0;
  right: 0;
}

.header__user-img {
  border-radius: 50%;
}

.header__title {
  text-align: center;
  margin-top: 187px;
  margin-bottom: 184px;
}

.header__title-text {
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  margin-bottom: 32px;
}

.btn {
  display: inline-flex;
  align-items: center;

  background: #7b61ff;
  border-radius: 12px;

  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.header__title-btn {
  padding: 24px;
}

.header__title-btn img {
  margin-right: 8px;
}

.form {
  background-color: #fff;
  padding: 8px;
  border-radius: 12px;
  color: #000;

  height: 88px;
  max-width: 1140px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}

.header__form-item {
  display: flex;
  padding: 16px;
  align-items: center;
}

.header__form-item img {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.header__form-text {
  display: flex;
  flex-direction: column;
}

.header__form-label {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #5b5b5b;
}

.header__form-select {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #161414;
}

.custom-select-opener:first-child {
  width: 224px;
}

.custom-select-opener:nth-child(2) {
  width: 97px;
}

.custom-select-opener:nth-child(3) {
  width: 119px;
}

.custom-select-opener:nth-child(4) {
  width: 56px;
}

.header__form-btn {
  padding: 18px;
  width: 60px;
  height: 60px;
}
